.admin-header-container {
  width: 100%;
  height: 6.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: fixed;
  z-index: 999;

  background-color: var(--primary-admin-color);
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);

  .header-wrap-logo {
    display: none;
    .header-logo {
      width: 38px;
      height: 42px;
    }
  }

  .header-bars-icon {
    font-size: 26px;
    color: var(--white-color);
  }

  .admin-info {
    display: flex;
    gap: 16px;
    height: 100%;
    align-items: center;

    .admin-notify-icon {
      position: relative;
      height: 40px;
      width: 40px;
      color: var(--white-color);
      cursor: pointer;
    }

    .admin-notify-count {
      position: absolute;
      top: -2px;
      right: -3px;
      display: flex;
      font-size: 0.8rem;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      height: 17px;
      width: 17px;
      border-radius: 50%;
      background-color: var(--second-color);
      color: var(--white-color);
    }

    .admin-avatar {
      cursor: pointer;
      height: 34px;
      width: 34px;
      object-fit: cover;
      border-radius: 100%;
    }
  }
}

@media (min-width: 576px) {
  .admin-header-container {
    padding: 0 2rem;

    .header-wrap-logo {
      display: none;
      .header-logo {
        width: 38px;
        height: 42px;
      }
    }
  }
}

@media (min-width: 768px) {
  .admin-header-container {
    padding: 0 3rem;

    .header-wrap-logo {
      display: none;
      .header-logo {
        width: 38px;
        height: 42px;
      }
    }
  }
}

@media (min-width: 992px) {
  .admin-header-container {
    padding: 0 2rem;

    .header-wrap-logo {
      display: block;
      .header-logo {
        width: 38px;
        height: 42px;
      }
    }

    .header-bars-icon {
      display: none;
    }
  }
}

@media (min-width: 1200px) {
  .admin-header-container {
    padding: 0 4rem;

    .header-wrap-logo {
      display: block;
      .header-logo {
        width: 38px;
        height: 42px;
      }
    }
  }
}
