.admin-sidebar-container {
  width: 24rem;
  height: 100vh;
  padding: 1.5rem 1rem 0 1rem;
  position: fixed;
  background-color: var(--second-admin-color);

  .menu-container {
    display: flex;
    flex-direction: column;

    .arrow-icon {
      font-size: var(--title-fontSize);
      transition: transform 0.3s ease;
      transform: rotate(270deg);
    }

    .arrow-icon.rotate {
      transform: rotate(270deg);
    }

    .arrow-icon.down {
      transform: rotate(360deg);
    }

    .menu-item {
      color: white;
      padding: 12px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 5px;
      width: 100%;

      &:hover {
        cursor: pointer;
        background-color: #4a73ab69;
        border-radius: 10px;
      }

      .menu-item-content {
        display: flex;
        align-items: center;
        width: 30rem;

        .icon {
          font-size: var(--title-fontSize);
          margin: 0 1rem;
        }

        .text {
          font-size: var(--text-fontSize);
        }
      }
    }

    .sub-menu-item {
      padding: 12px 0;
      line-height: 1.4;
      margin-bottom: 5px;
      display: flex;
      align-items: center;

      &:hover {
        cursor: pointer;
        background-color: #4a73ab69;
        border-radius: 10px;
      }

      .text {
        color: white;
        font-size: var(--text-fontSize);
        margin-left: 1rem;
      }
    }

    .selected {
      background-color: #4a73ab !important;
      border-radius: 10px;
    }

    .ReactCollapse--collapse {
      max-width: 220px;
      border-radius: 10px;
      transition: height 300ms;

      .sub-menu-container {
        .menu-container {
          .menu-item {
            padding: 16px;
          }
        }
      }
    }
  }
}
